<html>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <style>
      body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
      .bgimg-1{
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      }
      .bgimg-1 {
      background-image: url('/static/movie_logo.png');
      min-height: 50%;
      }
   </style>
   <body class="w3-light-grey w3-content" style="max-width:1600px">
      <header class="bgimg-1 w3-display-container w3-opacity-min" id="home">
         <div class="w3-display-middle" style="white-space:nowrap;">
            <a href = "/"> <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity"> MOVIE <span class="w3-hide-small">WEB</span> SERVICE</span> </a>
         </div>
      </header>
      <center>
         <br> <br>
         <h3> Please Choose a Service You Would Like to Deploy </h3>
         <br>
         <div class="w3-container w3-grey">
            <p> </p>
            <br>
         </div>
      </center>
      <div class="w3-row-padding">
         <div class="w3-third w3-container w3-margin-bottom">
            <a href="{{url_for('service1')}}">
            <img src="/static/polarity.png" alt="Polarity" width="455"  height="350" class="w3-hover-opacity">     </a>
            <div class="w3-container w3-white">
               <p><b>Movie Polarity</b></p>
               <p>Type in a title and see if the movie is positive, negative or bleh -_- </p>
            </div>
         </div>
         <div class="w3-third w3-container w3-margin-bottom">
            <a href="{{url_for('service2')}}">
            <img src="/static/languages_switcher.gif" alt="Language" width="455"  height="350" class="w3-hover-opacity"> </a>
            <div class="w3-container w3-white">
               <p><b>Language Switch</b></p>
               <p>Know another language? Wan't to show off? Type it in and we'll give you the synopsis in that vernacular.</p>
            </div>
         </div>
         <div class="w3-third w3-container">
            <a href="{{url_for('service3')}}">
            <img src="/static/same.gif" alt="Similarity"  width="455"  height="350" class="w3-hover-opacity"> </a>
            <div class="w3-container w3-white">
               <p><b>Movie Similarity</b></p>
               <p>Are they? Are they really? Type in the two titles and we'll let you know.</p>
            </div>
         </div>
      </div>
      <div class="w3-row-padding">
         <div class="w3-third w3-container w3-margin-bottom">
            <a href="{{url_for('service4')}}">
            <img src="/static/emotions.gif" alt="Mood" width="455"  height="350" class="w3-hover-opacity"> </a>
            <div class="w3-container w3-white">
               <p><b>Movie Mood</b></p>
               <p>Feeling a particular kind of way? Want to see if it's represented in the movie? Will a comedy really be funny? Will a thriller really scare you? Find out, type in the title and emotion/mood you're looking for in the movie and we'll use cosine similarity to get a score. </p>
            </div>
         </div>
         <div class="w3-third w3-container w3-margin-bottom">
            <a href="{{url_for('service5')}}">
            <img src="/static/nouns.jpg" alt="Noun" width="455"  height="350" class="w3-hover-opacity"> </a>
            <div class="w3-container w3-white">
               <p><b>Top Noun Phrases</b></p>
               <p>Want to know what a movie is about, without having to read too much? We'll give you the top noun phrases mentioned in the synopsis for you to get the gist. </p>
            </div>
         </div>
         <div class="w3-third w3-container">
            <a href="{{url_for('service6')}}">
            <img src="/static/adjectives.jpg" alt="Adjectives"  width="455"  height="350" class="w3-hover-opacity"> </a>
            <div class="w3-container w3-white">
               <p><b>Top Adjectives</b></p>
               <p> <----- Did you click on nouns? Might as well get the adjectives too. </p>
            </div>
         </div>
      </div>
      <div class="w3-row-padding">
         <div class="w3-third w3-container w3-margin-bottom">
            <a href="{{url_for('service7')}}">
            <img src="/static/end.gif" alt="Suggestions" width="455"  height="350" class="w3-hover-opacity"> </a>
            <div class="w3-container w3-white">
               <p><b>Movie Recommender</b></p>
               <p>Did your movie end? Want to watch something similar? Type in the title of what you watched and we'll recommend twenty similar from our database based on clusters created with Kmeans. </p>
            </div>
         </div>
         <div class="w3-third w3-container w3-margin-bottom">
            <a href="{{url_for('service8')}}">
            <img src="/static/wordcloud.gif" alt="Cloud" width="455"  height="350" class="w3-hover-opacity"> </a>
            <div class="w3-container w3-white">
               <p><b>Word Clouds of User Reviews</b></p>
               <p>Want to know what others are saying about the movie? Type in a title and we'll give you a word cloud of the reviews and the most frequent adjectives used in user reviews.</p>
            </div>
         </div>
         <div class="w3-third w3-container">
            <a href="{{url_for('service9')}}">
            <img src="/static/forgot.gif" alt="Actors"  width="455"  height="350" class="w3-hover-opacity"> </a>
            <div class="w3-container w3-white">
               <p><b>Actor In Movies</b></p>
               <p> Remember the actor but not the movie? We've all been there. Type in their name and we'll give you a list of movies they've been in. </p>
            </div>
         </div>
      </div>
   </body>
</html>